iSeeU.xcodeproj/project.xcworkspace/contents.xcworkspacedata
iSeeU.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
iSeeU.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
entries
